{% load static %}
<!doctype html>
<html lang="zh">	
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8" /> 
        <title>登录</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
        <link href="{% static 'css/login_style.css' %}" rel='stylesheet' type='text/css' />
    </head>
    <body>
        <script>$(document).ready(function(c) {
             $('.close').on('click', function(c){
                 $('.login-form').fadeOut('slow', function(c){
                     $('.login-form').remove();
                 });
             });	  
         });
        </script>
        <!--SIGN UP-->
        <h1>登录</h1>
        <div class="login-form">
            <div class="close"> </div>
            <div class="head-info">
                <label class="lbl-1"> </label>
                <label class="lbl-2"> </label>
                <label class="lbl-3"> </label>
            </div>
            <div class="clear"> </div>
            <div class="avtar">
                <img src="{% static 'img/avtar.png' %}" />
            </div>
            {% csrf_token %}
            <form action="login" method="post">
                <input type="text" name="username" class="text" value="用户名" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '用户名';}" >
                <div class="key">
                    <input type="password" name="password" value="密码" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '密码';}">
                </div>
	              <div class="signin">
		                <input type="submit" value="登录" >
	              </div>
            </form>
        </div>
        <div class="copy-rights">
            <p>Copyright &copy; </p>
			  </div>

    </body>
</html>