{% load static %}
<!doctype html>
<html lang="zh-Hans">	
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8" /> 
        <title>注册</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
        <link href="{% static 'css/login_style.css' %}" rel='stylesheet' type='text/css' />
        <script type="text/javascript" src="{% static 'js/jquery-3.2.1.js' %}"></script>
    </head>
    <body>
        <div class="login">
            <div class="login-triangle"></div>
            
            <h2 class="login-header">注册</h2>

            <form class="login-container" method="post" action="/account/register">
                <p><input name="username" type="text" placeholder="用户名"></p>
                <p><input id="password" name="password" type="password" placeholder="密码"></p>
                <p>
                    <input id="re-password" name="password" type="password" placeholder="确认密码" onkeyup="validate()">
                </p>
                <p><input id="email" name="email" type="email" placeholder="电子邮箱"></p>
                <p id="tips"></p>
                <p><input id="submit" type="submit" value="注册"></p>
            </form>
        </div>
    </body>
    <script>
     function validate() {
         var password = document.getElementById("password").value;
         var re_password = document.getElementById("re-password").value;
         if (password === re_password) {
             console.log(password);
             document.getElementById("submit").disabled = false;
             document.getElementById("tips").innerText="";
         } else {
             console.log(password);
             console.log(re_password);
             document.getElementById("submit").disabled = true;
             document.getElementById("tips").innerText="两次密码不相同";
         }
     }
     var request;

     // Bind to the submit event of our form
     $(".login-container").submit(function(event){

         // Prevent default posting of form - put here to work in case of errors
         event.preventDefault();

         // Abort any pending request
         if (request) {
             request.abort();
         }
         // setup some local variables
         var $form = $(this);

         // Let's select and cache all the fields
         var $inputs = $form.find("input, select, button, textarea");

         // Serialize the data in the form
         var serializedData = $form.serialize();

         // Let's disable the inputs for the duration of the Ajax request.
         // Note: we disable elements AFTER the form data has been serialized.
         // Disabled form elements will not be serialized.
         $inputs.prop("disabled", true);

         // Fire off the request to /form.php
         request = $.ajax({
             url: "/account/register",
             type: "post",
             data: serializedData,
         });

         // Callback handler that will be called on success
         request.done(function (response, textStatus, jqXHR){
             // Log a message to the console
             var response_json = JSON.parse(response);
             var status = response_json.status
             if (status === "Email invalidate") {
                 $("#tips").text("邮箱不合法");
             } else if (status === "Success") {
                 $("#tips").text("以发送激活邮件，请及时激活");
                 window.location.href = "/";
             } else if (status === "You are LOGINED.") {
                 $("#tips").text("你已经登录！");
             } else if (status === "Username exists.") {
                 $("#tips").text("用户已存在！");
             } else if (status === "Failed to send email") {
                 $("#tips").text("服务器错误，请重试");
             } else if (status === "Email exists.") {
                 $("#tips").text("该邮箱已经注册，请更换");
             }
         });

         // Callback handler that will be called on failure
         request.fail(function (jqXHR, textStatus, errorThrown){
             // Log the error to the console
             console.error(
                 "The following error occurred: "+
                 textStatus, errorThrown
             );
         });

         // Callback handler that will be called regardless
         // if the request failed or succeeded
         request.always(function () {
             // Reenable the inputs
             $inputs.prop("disabled", false);
         });

     });
    </script>

</html>
