{% load static %}
<!doctype html>
<html lang="zh">
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
        <title>更改密码</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="{% static 'css/login_style.css' %}" rel='stylesheet' type='text/css' />
        <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
        <script type="text/javascript" src="{% static 'js/jquery-3.2.1.js' %}"></script>
    </head>
    <body>
        <div class="login">
            <div class="login-triangle"></div>

            <h2 class="login-header">忘记密码</h2>

            <form class="login-container" method="post">
                {% csrf_token %}
                <p><input id="password" name="password" type="password" placeholder="密码" name="password"></p>
                <p><input id="re-password"  type="password" placeholder="确认密码" name="re-password"></p>
                <p id="tips"></p>
                <p><input id="submit" type="submit" value="修改"></p>
            </form>

        </div>
    </body>

    <script>
     // https://stackoverflow.com/questions/5004233/jquery-ajax-post-example-with-php
     // Variable to hold request
     var request;

     // Bind to the submit event of our form
     $(".login-container").submit(function(event){

         // Prevent default posting of form - put here to work in case of errors
         event.preventDefault();

         // Abort any pending request
         if (request) {
             request.abort();
         }
         // setup some local variables
         var $form = $(this);

         // Let's select and cache all the fields
         var $inputs = $form.find("input, select, button, textarea");

         // Serialize the data in the form
         var serializedData = $form.serialize();

         // Let's disable the inputs for the duration of the Ajax request.
         // Note: we disable elements AFTER the form data has been serialized.
         // Disabled form elements will not be serialized.
         $inputs.prop("disabled", true);
          var url = window.location.href.split('/');
          var code = url[url.length  - 1];

         // Fire off the request to /form.php
         request = $.ajax({
             url: "/account/reset/" + code,
             type: "post",
             data: serializedData,
         });
         // Callback handler that will be called on success
         request.done(function (response, textStatus, jqXHR){
             // Log a message to the console
             var response_json = JSON.parse(response);
             var status = response_json.status
             // if logined
             if (status === "Sucess") {
                 $("#tips").text("");
                  window.location.href = "/";
             // if wrong password
             } else if (status === "query error") {
                 $("#tips").text("查询错误，请重试");
             // if user did not existed
             } else if (status === "email error") {
                 $("#tips").text("邮箱不匹配")
             }

         });

         // Callback handler that will be called on failure
         request.fail(function (jqXHR, textStatus, errorThrown){
             // Log the error to the console
             console.error(
                 "The following error occurred: "+
                 textStatus, errorThrown
             );
         });

         // Callback handler that will be called regardless
         // if the request failed or succeeded
         request.always(function () {
             // Reenable the inputs
             $inputs.prop("disabled", false);
         });

     });
    </script>
</html>