.search-field, .term-list {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

body {
    text-align: center;
    background: rgb(246, 246, 246);
   /* background: url(../img/back2.jpg) top center;*/
    /*background-size:cover;*/
}
/*.bodyimg{
    margin: 0;
    padding: 0;
    background: url(../img/back2.jpg);
    repeat: no-repeat;
    background-attachment:fixed;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/back2.jpg', sizingMethod=scale);
    -ms-filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/back2.jpg', sizingMethod=scale);
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
}*/


/*.title {
    width: 100%;
    margin-top:10%;
    text-align: center;
    font-family: "Arvo", "Helvetica Neue", Helvetica, arial, sans-serif;
    font-size: 500%;
    font-weight: 400;
    color: white;
}*/
header {
    width: 100%;
    height: 60px;
    background: #3A5EC9;
}
header nav {
    height: 60px;
    display: inline-block;
    vertical-align: middle;
    float: right;
    margin-right: 30px;
}
header nav ul {
    width: 100%;
    height: 60px;
    line-height: 60px;
    box-sizing: border-box;
    list-style: none;
    margin: 0;
    padding: 0;
}
header nav ul li {
    display: inline-block;
    text-align: center;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 14px;
    margin-left: 20px;
}
header nav ul li a {
    color: #fff;
    text-decoration: none;
    text-decoration-color: #fff;
}
header nav ul li a:hover {
    color: #fff;
    text-decoration: none;
    text-decoration-color: #fff;
}
header nav ul li span {
    color: #fff;
}
header nav ul li span.glyphicon {
    margin-right: 5px;
}


.main-index-logo {
    width:100%;
    padding: 45px 0 40px;
}
.main-index-logo-title {
    font-family: '微软雅黑';
    font-weight: 400;
    font-style: normal;
    font-size: 60px;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 10px;
    padding-top:100px ;

}
.bg-main {
    height: 600px;
    background: #3A5EC9;
}

.main-index-logo {
    background: url(../img/firstback.jpg) no-repeat fixed;
    background-size: contain;
    height: 530px;
}

.main-index-logo-left, .main-index-logo-right {
    width: 65px;
    display: inline-block;
    /*border-bottom: 1px solid #5885AA;*/
    border-bottom: 1px solid white;
    position: relative;
    top: -5px;
}
.main-input-group {
    position: relative;
    display: table;
    border-collapse: separate;
    color: #3270a5;
   /* margin-left:20%;*/


}
.input-group-btn {
    position: relative;
    font-size: 0;
    white-space: nowrap;
    width: auto;
    white-space: nowrap;
    vertical-align: middle;

}*
.jufa-main-search-46px {
    height: 46px;
}
.main-btn-lg {
    padding: 10px 25px;
    background: -webkit-linear-gradient(#4AE8C8, #19D4E4);
    background: -o-linear-gradient(#4AE8C8, #19D4E4);
    background: -moz-linear-gradient(#4AE8C8, #19D4E4);
    background: linear-gradient(#4AE8C8, #19D4E4);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4AE8C8', endColorstr='#19D4E4',GradientType=0 );
    font-size: 18px;
    line-height: 1.3333333;
    color: #fff;
}
.input-group-btn>.btn {
    position: relative;
}
.jufa-main-search {

    position: relative;
    height: 46px;
    margin-top: 0;
    border: none;
    width:506px;
}
.jufa-container {
    width: 710px;
    padding-top: 10px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}
.subtitle {
    width: 100%;
    margin: 0em 0 1em;
    text-align: center;
    font-family: "Arvo", "Helvetica Neue", Helvetica, arial, sans-serif;
    font-size: 95%;
    font-weight: 400;
    color: #524545;
}

.search-field {
    display: block;
    width: 30%;
    margin: 1em auto 0;
    padding: 0.5em 10px;
    border: 1px solid #999;
    font-size: 130%;
    font-family: "Arvo", "Helvetica Neue", Helvetica, arial, sans-serif;
    font-weight: 400;
    color: #3e8ce0;
}
.projects .thumbnail {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    max-width: 310px;
    margin-bottom: 30px;
    border-radius: 0;
}
.projects .thumbnail .caption {
    height: 150px;
    overflow-y: hidden;
    color: #555;
}
.row {
    margin-right: -15px;
    margin-left: -15px;
}
.thumbnail .caption {
    padding: 9px;
    color: #333;
}
.thumbnail {
    display: block;
    padding: 4px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
}
.term-list {
    list-style: none inside;
    width: 30%;
    margin: 0 auto 2em;
    padding: 5px 10px 0;
    text-align: left;
    color: #777;
    background: #fff;
    border: 1px solid;
    font-family: "Arvo", "Helvetica Neue", Helvetica, arial, sans-serif;
    font-weight: 400;
}
.term-list li {
    padding: 0.5em 0;
    border-bottom: 1px solid #eee;
}
.term-list strong {
    color: #444;
    font-weight: 700;
}

.hidden {
    display: none;
}

.searchbtn
{
    margin: 1em auto 0;
    padding: 0.5em 10px;
    font-size: 14px;
    font-weight: normal;
}
