.fixed_headers {

    table-layout: fixed;
    border-collapse: collapse;
    height: 1000px;
    width: 100%;
}
.fixed_headers th {
    text-decoration: underline;
}
.fixed_headers th,
.fixed_headers td {
    padding: 5px;
    text-align: left;
}
.fixed_headers td:nth-child(1),
.fixed_headers th:nth-child(1) {
    min-width: 200px;
}
.fixed_headers td:nth-child(2),
.fixed_headers th:nth-child(2) {
    min-width: 200px;
}
.fixed_headers td:nth-child(3),
.fixed_headers th:nth-child(3) {
    width: 350px;
}
.fixed_headers thead {
    background-color: #333;
    color: #FDFDFD;
}
.fixed_headers thead tr {
    display: block;
    position: relative;
}
.fixed_headers tbody {
    display: block;
    overflow: auto;
    width: 100%;
    height: auto;
}
.fixed_headers tbody tr:nth-child(even) {
    background-color: #DDD;
}
.old_ie_wrapper {
    height: 300px;
    width: 750px;
    overflow-x: hidden;
    overflow-y: auto;
}
.old_ie_wrapper tbody {
    height: auto;
}
