#app {
    display: flex;
    flex-flow: column;
    align-items: center;
}
#random {
    margin: 1em;
}
.spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    animation: spinner 0.8s linear infinite;
}
@-moz-keyframes spinner {
    100% {
        transform: rotate(360deg);
    }
    0% {
        transform: rotate(0deg);
    }
}
@-webkit-keyframes spinner {
    100% {
        transform: rotate(360deg);
    }
    0% {
        transform: rotate(0deg);
    }
}
@-o-keyframes spinner {
    100% {
        transform: rotate(360deg);
    }
    0% {
        transform: rotate(0deg);
    }
}
@keyframes spinner {
    100% {
        transform: rotate(360deg);
    }
    0% {
        transform: rotate(0deg);
    }
}
