body {
    font-family: sans-serif;
    font-size: 16px;
    line-height: 1.5;

}

h1 {
    font-size: 2em;
    margin-bottom: .5em;
}

p {
    margin-bottom: 1em;
}

#wrap {
    background: #f4f7f9;
    width: 1270px;
    margin: 30px auto;
    overflow: hidden;
    position: relative;
}

.inner {
    position: relative;
    z-index: 2;
}

#wrap:after {
    content: "\f087";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    position: absolute;
    font-size: 400px;
    color: transparent;
    top: 50%;
    left: 50%;
    margin: -300px 0 0 -200px;
    z-index: 1;
}